@font-face {
    font-family: "Avenir-Medium";
    src: url("../fonts/Avenir-Medium.otf") format("opentype");
}


@media only screen and (max-width: 992px) {
    .navbar-nav {
        background: rgba(255, 255, 255, 0.9);
        border-radius: 5px;
        align-items: center;
        }
}


@media only screen and (min-width:993px) {
    .navbar-nav {
        background:none;
        align-items: center;
        border: none;
        }
}


